{% extends "index.html" %}
{% block title %}TODO{% endblock %}

{% block content %}
<div class="col-md-12">
  <h3 style =' text-align:center; margin:20px'> ADD YOUR TODO HERE </h3>
  <form action = '/task' method = "POST" class="col-md-6" style="margin: 0 auto;">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name ='title'>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="title" name ='description'>
      </div>
      <div class="vertical-center" style="display: flex;justify-content: center;text-align: center;">
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
    
  </form>
  <div>
    <h3 style =' text-align:center; margin:20px'>Your TODOS list </h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for i in data %}
        <tr>
          <th scope="row">{{loop.index }}</th>
          <td>{{i.title}}</td>
          <td>{{i.description}}</td>
          <td>{{i.status}}</td>
          <td>
            <a href="/delete/{{i.id}}"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a>
            <a href="/update/{{i.id}}"><button type="button" class="btn btn-outline-success btn-sm"> Edit</button></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
